.contenedorUl {
    margin-top: -0.5rem !important;
}

.contenedorContainer {
    margin-left: 7rem;
}

.contenedorContainer2 {
    margin-right: 7rem;
}

.contenedorMaxUl {
    max-width: 500px;
}

.contenedorMaxUl li {
    font-size: 18px !important;
}

@media (max-width:1240px) {
    .contenedorContainer {
        margin-left: 1rem !important;
    }
}

@media (max-width:991px) {
    .contenedorContainer2 {
        margin-left: 7rem !important;
    }

    .contenedorContainer{
        margin-left: 7rem !important;

    }

}

@media (max-width: 768px) {

    .contenedorContainer {
        margin-left: 0rem !important;
    }

    .contenedorContainer2 {
        margin-right: 0rem !important;

    }

    .contenedorContainer2 {
        margin-left: 0rem !important;
    }

}