.contenedorBannerImagen {}

.textoBanner {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width:991px) {
    .textoBanner {
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (max-width:767px) {



    .contenedorGeneral {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }

    .contenedorBannerImagen {
        background-image: url('../../../../assets/img/home/bannerAgroindustria/imgBannerAgro.webp');
        background-position: center center;
        padding: 0px;
        margin: 0px;
        height: 400px;
    }

    .contenedorBannerImagen img {
        display: none !important;
    }

    .textoBanner {
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}